@import 'tailwindcss';

@theme {
  --color-background: #fdfbf7;
  --color-surface: #ffffff;

  --color-primary: #838f58;
  --color-primary-light: #bad797;

  --color-secondary: #f9d1d9;
  --color-accent: #670626;

  --color-text-primary: #1a1a1a;
  --color-text-secondary: #6b6b6b;

  --color-border: #e5e5e5;

  --color-success: #838f58;
  --color-error: #670626;
}
